[Unit]
Description=ModernJVSService

[Service]
User=root
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/modernjvs

[Install]
WantedBy=multi-user.target
